<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    

</head>
<body>
   
    <div class="cont_principal">
        <div class="cont_error">
          
        <h1>Oops</h1>  
          <p>Wrong details, please go back to the firsg page!</p>
          </div>
        <div class="cont_aura_1"></div>
        <div class="cont_aura_2"></div>
        </div>
    </body>
    <script>
        window.onload = function(){
        document.querySelector('.cont_principal').className= "cont_principal cont_error_active";  
  
        }       
    </script>
</html>