docotype  
html 
    head 
        title Commercials

        style(type="text/css").
          #image 
            {
              width: 100%;
            }

    body
        input(type = 'hidden', id = 'active1', value = screen)    
        img(id="image")

    script.
           var naeo= document.getElementById('image');
            
            var i=0;
            var currentuser = document.getElementById("active1").value;
            console.log(currentuser);
             var current;
            current = JSON.parse(currentuser);

             function func(){
                 i++;  
                               
                naeo.src = current[i].image;
                console.log(current[i]);
              }
    
            setInterval(func,current[i].opentime);    