docotype  
html 
    head 
        title Commercials

        style(type="text/css").
          #image 
            {
              width: 100%;
            }

    body
        input(type = 'hidden', id = 'active1', value = screen)    
        img(id="image")

    script(src="/socket.io/socket.io.js")           

    script.
           var socket = io();  
           var naeo= document.getElementById('image');
            
            var i=[];
            var counter=0;
            var currentuser = document.getElementById("active1").value;
            var current;
            
            current = JSON.parse(currentuser);

            i[0] = Math.floor(Math.random() * (current.length-1 - 6 + 1) + 6);
            i[1] =Math.floor(Math.random() * (current.length-4 - 3 + 1) + 3);
            i[2] =Math.floor(Math.random() * (current.length-7 - 0 + 1) + 0);

             function func(){
                if (counter==3){
                  counter=0;
                }                              
                naeo.src = current[i[counter]].image;
                
               counter++;
              }
    
            setInterval(func,current[i[counter]].opentime);